// Base
$unit: 10px
$font__stack: helvetica, 'sans-serif'
$grid__size: 12
$grid__pad: 20px

// Colours
$primary__color: #487cbe
$primary__color-contrast: #475059

$primary__color--light: #c2d1e4
$primary__color--light-contrast: #0e1e2e

$primary__color--dark: #2d4452
$primary__color--dark-contrast: #f5f7f9

$default__color: #cccccc
$default__color--light: #fafafa
$default__color--medium: #eeeeee
$default__color--medium-contrast: #b1b1b1
$default__color--dark: #3b3939

// Proof box settings
$nest_ident: 10px
$line-number__width: 20px
$line-prompt__padding: 10px
