.proof-box

  +modifier('main')
    position: relative
    padding-left: 20px

  +element("line-numbers")
    width: $line-number__width
    float: left

  +element("line-contents")
    width: calc(100% - #{$line-number__width})
    float: left

  +modifier("assummed")
    +modifier("closed")
      border: 1px solid $default__color
    +modifier("open")
      border: 1px solid $default__color
      border-bottom: none
    +element("line-contents")
      width: calc(100% - #{2*$nest_ident})
      margin: 0 $nest_ident
